<!DOCTYPE html>


{% load staticfiles %}

<html>
	<head>
		<title>Courses</title>
	</head>
	<body style="background-color:yellow;">
		<p> The list of courses provided by the GA program: </p>
		<div>
		<br />
			<strong></strong><br />
		</div>
		<div>
		{% if courses %}
			<ul>
			{% for course in courses %}
				<li><h1>{{ course.name }}</h1></li>
				<li><strong>{{course.date }}</strong></li>
				<li>{{course.desc}}</li>
				<br />
			{% endfor %}
			</ul>
		{% else %}
			<strong>There are no courses present.</strong>
		{% endif %}
		</div>



		<div>
			<a href="/courses/">placeholder</a><br />
			
		</div>
	</body>
</html>